<%= form_with model: user, url: register_path, local: true do |f| %>
  <div class="field">
    <%= f.label :name, t("users.form.name") %><br>
    <%= f.text_field :name, class: ("input #{"input-error" if user.errors[:name].any?}") %>
    <% user.errors[:name].each do |msg| %>
      <div class="field-error"><%= msg %></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email, t("users.form.email") %><br>
    <%= f.email_field :email, class: ("input #{"input-error" if user.errors[:email].any?}") %>
    <% user.errors[:email].each do |msg| %>
      <div class="field-error"><%= msg %></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password, t("users.form.password") %><br>
    <%= f.password_field :password, class: ("input #{"input-error" if user.errors[:password].any?}") %>
    <% user.errors[:password].each do |msg| %>
      <div class="field-error"><%= msg %></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t("users.form.password_confirmation") %><br>
    <%= f.password_field :password_confirmation, class: ("input #{"input-error" if user.errors[:password_confirmation].any?}") %>
    <% user.errors[:password_confirmation].each do |msg| %>
      <div class="field-error"><%= msg %></div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t("users.form.submit"), class: "btn-register" %>
  </div>
<% end %> 