<h1><%= t("users.edit.title") %></h1>

<% if @user.errors.any? %>
  <div id="error_explanation" class="form-error-summary">
    <h2><%= t("users.edit.errors_count", count: @user.errors.count) %></h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <div class="field">
    <%= f.label :name, t("users.form.name") %><br>
    <%= f.text_field :name, class: ("input #{"input-error" if @user.errors[:name].any?}") %>
    <% @user.errors[:name].each do |msg| %>
      <div class="field-error"><%= msg %></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email, t("users.form.email") %><br>
    <%= f.email_field :email, class: ("input #{"input-error" if @user.errors[:email].any?}") %>
    <% @user.errors[:email].each do |msg| %>
      <div class="field-error"><%= msg %></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password, t("users.form.password") %><br>
    <%= f.password_field :password, class: ("input #{"input-error" if @user.errors[:password].any?}") %>
    <% @user.errors[:password].each do |msg| %>
      <div class="field-error"><%= msg %></div>
    <% end %>
    <small><%= t("users.edit.password_hint") %></small>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t("users.form.password_confirmation") %><br>
    <%= f.password_field :password_confirmation, class: ("input #{"input-error" if @user.errors[:password_confirmation].any?}") %>
    <% @user.errors[:password_confirmation].each do |msg| %>
      <div class="field-error"><%= msg %></div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t("users.edit.submit"), class: "btn-register" %>
    <%= link_to t("users.edit.back"), user_path(@user), class: "btn btn-secondary" %>
  </div>
<% end %> 