<% provide :title, t(".title") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t(".title") %></h1>

    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= t(".errors_count", count: @user.errors.count) %></h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render "form", user: @user %>

    <div class="mt-3">
      <%= link_to t(".back"), @user, class: "btn btn-info" %>
      <%= link_to t(".back_to_list"), users_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
